* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

body {
    background-color: cornsilk;
    text-align: center;
    padding: 10px;
}

h2 {
    color: blue;
}

.home ul li { 
    padding: 20px;
}

a {
    color: #ecb419;
}

.description {
    padding: 10px;
    margin: 10px;
}

.ingredients ul li {
    padding: 30px;
}

.steps ol li {
    max-width: 300px;
    margin: auto;
    padding: 20px;
}